*{
    box-sizing: border-box;
}
:root{
    --cyan: hsl(179, 62%, 43%);
    --byellow: hsl(71, 73%, 54%);
    --lgrey: hsl(204, 43%, 93%);
    --gblue: hsl(218, 22%, 67%);
    --lgreen: hsl(179, 47%, 52%);
}
body{
    font-family: 'karla';
    margin: 0;
    padding: 0;
    background-color: var(--lgrey);
    color: var(--gblue);
    font-size: 16px;
}
main{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    color: var(--cyan);
}
.yellow{
    color:var(--byellow);
    /* margin-bottom: 10px; */
}
button{
    border: none;
    background-color: var(--byellow);
    color: white;
    padding:5px ;
    width: calc(100% - 20px);
    margin:  10px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
span{
    color: white;
    font-weight: 700;
}
.dgreen{
    background-color: var(--cyan);
    color: var(--lgrey);
}
.lgreen{
    background-color: var(--lgreen);
    color: var(--lgrey);
  
}
.dollar{
    font-size: 30px;
}

@media screen and (max-width:500px) {
    main{
        width: 85%;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 50px auto;
        border-radius: 5px;
    }
    .top{
        padding: 20px 20px;
    }
   .lgreen{
     padding:20px 20px;
     border-radius: 0 0 8px 5px;
   }
   .dgreen{
       padding: 20px 20px;
   }
   
    
}
@media screen and (min-width:501px){
    main{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 450px;
        margin: 100px auto;
        
        border-radius: 5px;
    }
    .bottom{
        display: flex;
    }
    .top{
        padding:20px;
    }
    .lgreen{
        width: 50%;
        padding: 20px;
        border-radius: 0 0 5px 0;
    }
    .dgreen{
        width: 50%;
        padding: 20px;
        border-radius: 0 0 0 5px;
    }

}